html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #f6f6f6;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* .rotating-text {
	transform: translateX(-80px);
} */
.rotating-text p {
	display: inline-flex;
	margin: 0;
	vertical-align: top;
}
.rotating-text p .word {
	/* position: absolute; */
	display: flex;
	opacity: 0;
}
.rotating-text p .word .letter {
	transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
	transform: rotateX(90deg);
	transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
	transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
	transform: rotateX(-90deg);
}
